*{
    background-color: rgb(83, 81, 81);
    height: 100%;
    width: 100%;

}
.flex-container{
    height: fit-content;
    width: fit-content;
    float: left;
    margin:0% 0% 0% 2%;
    padding: 5%;
    padding-bottom: 0%;
    display: flex;
}
.flex-child-pic{
    padding: 2%;
    background-color: rgb(131, 129, 133);
    width:45%;
    height:fit-content;
}
#img1{
    height:60%;
    width: 100%;
    border-radius: 60%;
}
name{
    font-size: 60px;
}
student{
    font-size: 30px;
}
name,student,a,article,p,h2,h3{
background-color: transparent;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.flex-child-intro{
    border: none;
    outline: none;
    padding: 5%;
    background-color: rgb(131, 129, 133);
    width:55%;
    height:auto;
}
a{
    cursor: pointer;
    background-color: transparent;

}

#projects,#education,#skills,#experience,#contact{
    background-color: rgb(131, 129, 133);
    height:auto;
    width: auto;
    margin:2% 2% 2% 2%;
    padding: 5%;
    font-weight: bold;
}
.bucket{
    height: fit-content;
    width: fit-content;
    float: left;
    margin:0% 0% 0% 2%;
    padding: 5%;
}
ul{
    font-size: 25px;
    margin: 5%;
    background-color: transparent;
    padding: 0%;
    height: fit-content;
    width: fit-content;
    text-decoration: none;

}
a:link{
    text-decoration: none;
    background-color: transparent;
}
li{
    background-color: transparent;
}