*{
    height: auto;
    width: 100%;
    align-items: center;
    background-repeat: no-repeat;
}
body{
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(400deg,rgb(37, 163, 236),rgb(90, 113, 245), rgb(23, 220, 247),rgb(248, 245, 245),rgb(86, 110, 245));
}
.flex-container{
    text-align: center;
    height: fit-content;
    width: fit-content;
    float: left;
    padding: 3%;
    padding-bottom: 0%;
}
.flex-child-pic{
    padding: 5%;
    background-color:transparent;
    width:35%;
    height:fit-content;
}
#img1{
    height:60%;
    width: 100%;
    border-radius: 60%;
}
name{
    font-size: 60px;
}
student{
    font-size: 30px;
}
name,student,a,article,p,h2,h3{
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#projects,#education,#skills,#experience,#contact{
    background-color: rgb(131, 129, 133);
    text-align: justify;
    height:auto;
    width: auto;
    margin:2% 2% 2% 2%;
    padding: 2%;
    font-weight: bold;
}
#skills{
    background-color: rgb(231, 154, 184);
}
#education{
    background-color: rgb(179, 248, 225);
}
#projects{
    background-color:rgb(136, 196, 252) ;
}
#experience{
    background-color:rgb(182, 255, 188) ;
}
#contact{
    background-color:rgb(232, 167, 252) ;
}
.bucket{
    height: fit-content;
    width: fit-content;
    float: left;
    margin:0% 0% 0% 2%;
    padding: 5%;
}
a:link{
    text-decoration: none;
    background-color: transparent;
}
.all-buttons{
    display: flex;
    background-color: transparent;
    height: auto;
    width: auto;
}
button{
    background-color: rgb(113, 113, 114);
    margin: 2%;
    cursor: pointer;
}
#skill:hover{
    background-color: rgb(250, 86, 149);
}
#edu:hover{
    background-color: rgb(32, 243, 173);
}
#project:hover{
    background-color:rgb(24, 142, 253) ;
}
#exp:hover{
    background-color:rgb(102, 247, 114) ;
}
#cont:hover{
    background-color:rgb(217, 103, 252) ;
}
#in,#git{
    height: 6%;
    width: 6%;
    background-color: white;
}
#in1{
    height: 20px;
    width: 20px;
    background-color: white;
}